@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
:root {
  --yellow-cz: #fef234;
  --gray-bt: #dee2e6;
  --height-top: 10vh;
}

@function calc-minus($first, $second) {
  @return $first - $second;
}
