@import '../../node_modules/bootstrap/scss/bootstrap';

:root {
  --yellow-cz: #fef234;
  --gray-bt: #dee2e6;
  --height-top: 5vw;
}

html,
body {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem !important;
  padding-top: var(--height-top);
}

.Default {
  &--font {
    &-size {
      &-1-3 {
        font-size: 1.3rem;
      }
      &-2 {
        font-size: 2rem;
      }
    }
  }
}

.btn,
.form-control {
  font-size: 1.5rem;
}

.Scroll {
  &--height {
    @include media-breakpoint-up(lg) {
      height: calc(var(--height-top) / 2) !important;
    }
  }
  &--padding-top {
    @include media-breakpoint-up(lg) {
      padding-top: calc(var(--height-top) / 1.5) !important;
    }
  }
  &--font-size {
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
  &__not {
    padding-top: var(--height-top) !important;
  }
}

.bg-yellow-cz-custom {
  background-color: var(--yellow-cz) !important;
}
.text-yellow-cz-custom {
  color: var(--yellow-cz) !important;
}

.border-yellow-cz-custom {
  border-color: var(--yellow-cz) !important;
}

.cursor {
  &-pointer {
    cursor: pointer !important;
  }
  &-not-allowed {
    cursor: not-allowed !important;
  }
}

.border-style-custom {
  border-radius: 5px 5px 0 0;
  border-top: 3px solid #ccc !important;
}

.Client {
  &__Form {
    z-index: 1200;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    top: 0;
    bottom: 0;
    &__Sign-Up {
      &__form {
        width: 30%;

        & h2 {
          font-size: 3rem;
        }
        & span {
          font-size: 1.8rem;
        }
        &__notice {
          font-size: 1.3rem;
        }
      }
    }
  }
  &__Navigation-Bar {
    height: var(--height-top);
    &__list {
      & button {
        color: var(--dark) !important;

        &:hover {
          color: var(--white) !important;
          border-color: var(--white) !important;
        }
      }
      & li {
        padding-right: 1rem;
        padding-left: 1rem;
        & a {
          border: 1px solid transparent;
          &:hover {
            background-color: var(--yellow-cz);
            border: 1px solid var(--dark);
          }
        }
      }
    }
  }
  &__Brand {
    &__anchor {
      &:hover {
        text-decoration: none;
        color: var(--black);
      }
    }
    &__img {
      &--height {
        max-height: calc(var(--height-top) - 1vw);
      }
    }
  }
}
.Carousel {
  &__button {
    &--sign-up {
      &:hover {
        background-color: var(--dark) !important;
        color: var(--white) !important;
        border-color: var(--white) !important;
      }
    }
    &--learn-more {
      background-color: var(--dark) !important;
      &:hover {
        background-color: var(--yellow-cz) !important;
        color: var(--dark) !important;
        border-color: var(--dark) !important;
      }
    }
  }
  &-incaditors {
    & li {
      width: 20px !important;
      height: 20px !important;
      border-radius: 999px;
      background-color: rgba(156, 150, 150, 0.5) !important;
      &.active {
        background-color: var(--yellow-cz) !important;
      }
    }
  }
  &-content {
    top: 50%;
    z-index: 9;
    position: absolute;
    & h1 {
      font-size: 7rem;
    }
    & h4 {
      font-size: 2rem;
    }
  }
  &__image {
    &--height {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: 100%;
      height: 800px;

      @include media-breakpoint-up(md) {
        height: 400px;
      }
      @include media-breakpoint-up(lg) {
        height: 600px;
      }
      @include media-breakpoint-up(xl) {
        height: 700px;
      }
    }
  }
}

.custom-file-label::after {
  height: 100%;
}

.Admin {
  &__Wrapper {
    &__Post {
      &__Form {
        &__create {
          &--in {
            animation: fadeIn 1s;
          }
        }
        &__notice--height {
          height: 2rem;
        }
        &__image {
          & .figure {
            width: 200px;

            display: flex;
            flex-direction: column;

            & img {
              width: 80%;
              margin: 0 auto;
            }
          }
        }
        &__Image {
          &-Upload {
            &--height {
              height: 40px;
            }
          }
        }
      }
    }
    &__User__Form {
      &__create {
        &--in {
          animation: fadeIn 1s;
        }
      }
      &__notice--height {
        height: 1rem;
      }
    }
    &__Category__Form {
      &__create {
        &--in {
          animation: fadeIn 1s;
        }
      }
      &__notice--height {
        height: 1rem;
      }
    }
  }
  &__Navigation-Bar {
    height: var(--height-top);
    position: fixed;
    top: 0;
    z-index: 101;
    &__img {
      &--height {
        max-height: calc(var(--height-top) - 2vh);
      }
    }
  }
}

.Post-form {
  &__create {
    &--in {
      animation: fadeIn 1s;
    }
  }
  &__notice--height {
    height: 1rem;
  }
  &__image {
    & .figure {
      width: 200px;

      display: flex;
      flex-direction: column;

      & img {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.Help__Text {
  &--height {
    height: 2rem;
  }
}

.login {
  &__form {
    width: 50%;
    &__notice {
      &__failed {
        &--hidden {
          visibility: hidden;
        }
        &--visible {
          animation: transform-text-color 1s;
          visibility: visible;
        }
      }
      &--height {
        height: 1rem;
      }
    }
    &__button {
      &:not(:disabled) {
        animation: transform-scale-size 0.5s;
      }
      &:disabled {
        animation: transform-scale-size-smaller 0.5s;
        cursor: not-allowed;
      }
    }
  }
}

@keyframes transform-text-color {
  0% {
    color: $red;
  }
  25% {
    color: $black;
  }
  50% {
    color: $red;
  }
  75% {
    color: $black;
  }
  100% {
    color: $red;
  }
}

@keyframes transform-scale-size {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes transform-scale-size-smaller {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
