.Feature {
  &__getting-started {
    &__list {
      & li {
        margin-bottom: 1rem;
      }
    }
  }
  &__list {
    &__anchor {
      border-radius: 0 !important;
      background-color: var(--yellow-cz);
      color: var(--dark);
      &:hover {
        border-color: var(--dark) !important;
        color: var(--dark);
      }
      &.active {
        background-color: var(--dark) !important;
        // border-color: 1px solid var(--white) !important;
        color: var(--white) !important;
      }
    }
  }
}
