// .Navigation-Bar {
//   // @include media-breakpoint-up(xs) {
//   //   height: 10%;
//   // }
//   // @include media-breakpoint-up(sm) {
//   //   height: 10%;
//   // }
//   // @include media-breakpoint-up(md) {
//   //   height: 10%;
//   // }
//   // @include media-breakpoint-up(lg) {
//   //   height: 10%;
//   // }
//   // @include media-breakpoint-up(xl) {
//   //   height: 10%;
//   // }

//   &__list {
//     & button {
//       color: var(--dark) !important;
//       background-color: var(--yellow-cz);
//       &:hover {
//         color: var(--white) !important;
//         border-color: var(--white) !important;
//       }
//     }
//     & li {
//       padding-right: 1rem;
//       padding-left: 1rem;
//       & a {
//         border: 1px solid transparent;
//         &:hover {
//           background-color: var(--yellow-cz);
//           border: 1px solid var(--dark);
//         }
//       }
//     }
//   }
//   &__brand {
//     &__anchor {
//       &:hover {
//         text-decoration: none;
//         color: var(--black);
//       }
//     }
//     &__img {
//       &--width {
//         max-width: 80px;
//       }
//     }
//   }
// }
