.Post-form {
  &__create {
    &--in {
      animation: fadeIn 1s;
    }
  }
  &__notice--height {
    height: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
