.Post-form {
  &__create {
    &--in {
      animation: fadeIn 1s;
    }
  }
  &__notice--height {
    height: 1rem;
  }
  &__image {
    & .figure {
      width: 200px;

      display: flex;
      flex-direction: column;

      & img {
        width: 80%;
        margin: 0 auto;
      }
      & .figure-caption {
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
