.Navigation-Bar {
  &__list {
    & li {
      font-size: 1.5rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  &__brand {
    &__anchor {
      &:hover {
        text-decoration: none;
        color: var(--black);
      }
    }
    &__img {
      &--width {
        max-width: 80px;
      }
    }
  }
}
