.Footer {
  position: relative;
  z-index: 9;
  &__background-image {
    min-height: 400px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
  }
  &__contact {
    & p {
      color: white;
    }
  }
  &__social-network {
    & i {
      margin: 0 0.5rem;
    }
  }
}
