@media only screen and (max-width: 768px) {
  .social-footer i {
    font-size: 40px;
    float: none !important;
    padding: 5px;
  }

  .footer-bottom {
    margin-top: -213px !important;
  }
}

.Footer {
  position: relative;
  z-index: 9;
  &__background-image {
    min-height: 400px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
  }
}

.footer_top--content p {
  color: white;
  font-size: 17px;
}
.footer-top--btn_sign_up {
  padding: 18px;
  margin-bottom: 5px;
}
.footer-bottom {
  background-color: #393636;
  height: auto;
  margin-top: -108px;
}
.logo-footer,
.address-footer,
.social-footer {
  padding: 15px;
  color: white;
}
.logo-footer img {
  margin-bottom: 20px;
}
.address-footer i {
  color: #908b8b;
  padding: 10px;
}
.address-footer span {
  font-size: 14px;
}
.btn-learn_more {
  background-color: #f4eb49;
}

.social-footer i {
  font-size: 40px;
  float: right;
  padding: 5px;
}
.copyright-footer {
  color: white;
  font-size: 14px;
  margin-top: 40px;
}
